* {
  font-family: 'Sunflower', sans-serif;
}

div {
  padding: 15px;
  border: 1px solid gray;
  text-align: center;
}

li {
  list-style-type: none;
  margin: 5px;
}

span {
  font-weight: bold;
}

@media all and (min-width:300px) {
  div {
    background-color: rgb(255, 253, 221);
  }
}

@media all and (min-width:700px) {
  div {
    background-color: rgb(221, 223, 255);
  }
}

@media all and (min-width:1024px) {
  div {
    background-color: rgb(221, 255, 252);
  }
}
